# IDE
.idea

# Clear all deployment directories except readme
Deployments/*
!Deployments/*.md

# Clear all kickstart except hardcoded examples
Kickstart/*
!Kickstart/External-DNS.yaml
!Kickstart/Service-Key.yaml
!Kickstart/Verify-Setup.yaml